@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth; }

body {
  background-repeat: repeat-y;
  background-size: cover;
  margin: 0;
  min-height: 100%;
  position: relative; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2.1rem;
  font-family: "Lato", sans-serif;
  color: #000; }

a {
  color: #787878; }

h1,
h2,
h3 {
  margin: 1.6rem 0;
  font-weight: 700; }
  @media screen and (max-width: 400px) {
    h1,
    h2,
    h3 {
      text-align: center;
      width: 100%; } }

h1 {
  font-size: 6.4rem; }
  @media screen and (max-width: 400px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-size: 5.6rem; }
  @media screen and (max-width: 400px) {
    h2 {
      font-size: 3.2rem; } }

h3 {
  font-size: 4rem; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.space {
  background: #5d656d;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 101, 109, 0.88)), color-stop(53%, rgba(61, 69, 76, 0.96)));
  background: -webkit-linear-gradient(top, rgba(93, 101, 109, 0.88) 0%, rgba(61, 69, 76, 0.96) 53%);
  background: -o-linear-gradient(top, rgba(93, 101, 109, 0.88) 0%, rgba(61, 69, 76, 0.96) 53%);
  background: linear-gradient(180deg, rgba(93, 101, 109, 0.88) 0%, rgba(61, 69, 76, 0.96) 53%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 11rem); }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  min-height: 100vh; }

.main-container {
  background-color: #fefefe;
  margin: 0;
  padding: 1rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100% - 6rem);
  min-height: 100vh;
  width: 100%; }

.col, .colHalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-wrap: break-word; }
  .col.bottom, .bottom.colHalf {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .col.center, .center.colHalf {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .col.top, .top.colHalf {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .colHalf {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 50%; }
    @media screen and (max-width: 400px) {
      .colHalf {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        width: 100%; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  overflow-wrap: break-word; }
  .row.between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .row.between-c {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .row.around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .row.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .row.left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .row.right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .row.lg {
    width: 100%; }
  .row.md {
    width: 48%; }
  .row.sm {
    width: 31%; }

.animated {
  -webkit-animation: fade-in-down 0.8s;
  animation: fade-in-down 0.8s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
