.row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2.7rem 3.4rem;
    width: 100%;
  }

  &.top {
    max-height: 32rem;
    border-top: 0.1rem solid $border-2;
    border-bottom: 0.1rem solid $border-2;
  }

  &.bottom {
    height: calc(100vh - 32rem);
    min-height: 32rem;
  }

  &__left {
    display: flex;
    justify-content: flex-start;
    width: 40%;
    min-width: 27rem;
    max-width: 32rem;

    &-inner {
      display: flex;
      padding: 2.7rem 3.4rem;
    }

    .bottom & {
      border-right: 0.1rem solid $border-2;
      height: 100%;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 60%;
    height: auto;

    & > img {
      display: block;
      margin: auto;
      max-width: 100%;
      height: 31rem;
    }

    .bottom & {
      align-items: flex-start;
      height: 100%;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    position: relative;
    justify-items: flex-start;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 32rem;
    width: 100%;
    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }
    @include mobile {
      grid-column-gap: 0;
    }

    & > li {
      border: 0.1rem solid $border-2;
      border-left: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10.6rem;
      width: 100%;
      &:nth-child(1),
      &:nth-child(2) {
        border-top: none;
        border-bottom: none;
      }

      &:nth-child(5),
      &:nth-child(6) {
        border-top: none;
        border-bottom: none;
      }

      & > img {
        display: block;
        margin: auto;
        max-width: 100%;
        height: 8rem;
      }
    }
  }
}

.text {
  &__info {
    font-size: $small-size;
    color: $accent;
  }

  &__title {
    margin-top: 5.2rem;
  }
}
