.sidebar {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  width: 31rem;
  height: 100vh;
  min-height: 64rem;

  @include tablet {
    transform: translateX(-27.2rem);
    transition: 0.4s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    &:hover {
      transform: translateX(-2rem);
      transition: 0.4s ease-out;
    }
  }

  &__inner {
    border-right: 0.1rem solid $border;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3.4rem;
    width: 27.2rem;
    height: 100vh;
  }

  &__title {
    font-size: $regular-size;
    text-align: left;
    margin: 13.8rem 0 2.4rem 0;
  }

  &__text {
    font-size: $medium-size;
    color: $accent;
  }

  &__icon {
    background-color: $white;
    border-radius: 2rem;
    display: flex;
    height: 1.8rem;
    width: 1.8rem;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      background-color: $simple-red;
      display: flex;
      width: 100%;
      height: 0.6rem;
      position: absolute;
      top: 0.6rem;
      left: auto;
    }

    &:after {
      content: '';
      background-color: $simple-blue;
      display: flex;
      width: 100%;
      height: 0.6rem;
      position: absolute;
      bottom: 0;
      left: auto;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;

    & > li {
      color: $text-color;
      display: block;
      margin: 1.2rem 0;
      & > a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: $accent;
        }

        &.active  {
          color: $accent;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}