@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth; }

body {
  background-repeat: repeat-y;
  background-size: cover;
  margin: 0;
  min-height: 100%;
  position: relative; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 2.1rem;
  font-family: "Lato", sans-serif;
  color: #000; }

a {
  color: #787878; }

h1,
h2,
h3 {
  margin: 1.6rem 0;
  font-weight: 700; }
  @media screen and (max-width: 400px) {
    h1,
    h2,
    h3 {
      text-align: center;
      width: 100%; } }

h1 {
  font-size: 6.4rem; }

h2 {
  font-size: 2.1rem; }

h3 {
  font-size: 2.1rem; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.space {
  background: #5d656d;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 101, 109, 0.88)), color-stop(53%, rgba(61, 69, 76, 0.96)));
  background: -webkit-linear-gradient(top, rgba(93, 101, 109, 0.88) 0%, rgba(61, 69, 76, 0.96) 53%);
  background: -o-linear-gradient(top, rgba(93, 101, 109, 0.88) 0%, rgba(61, 69, 76, 0.96) 53%);
  background: linear-gradient(180deg, rgba(93, 101, 109, 0.88) 0%, rgba(61, 69, 76, 0.96) 53%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 11rem); }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh; }

.container__main {
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100% - 30.8rem);
  min-height: 100vh;
  width: 100%; }

.col, .colHalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-wrap: break-word; }
  .col.bottom, .bottom.colHalf {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .col.center, .center.colHalf {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .col.top, .top.colHalf {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .colHalf {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 50%; }
    @media screen and (max-width: 400px) {
      .colHalf {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        width: 100%; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  margin-left: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  overflow-wrap: break-word; }
  .row.between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .row.between-c {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .row.around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .row.center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .row.left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .row.right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .row.lg {
    width: 100%; }
  .row.md {
    width: 48%; }
  .row.sm {
    width: 31%; }

.animated {
  -webkit-animation: fade-in-down 0.8s;
  animation: fade-in-down 0.8s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
	 ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style-type: none;
  width: 100%;
  height: 3.4rem;
  background-color: transparent;
  position: relative; }
  .dropdown.border:after {
    background-color: #cdcdcd;
    border: none;
    content: "";
    height: 100%;
    width: 0.2rem; }
  .dropdown:after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-indent: -9000px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='56px' height='33px' viewBox='0 0 56 33' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Artboard' transform='translate(-772.000000, 0.000000)' fill='%23787878'%3E%3Cpath d='M827.104903,2.75810048 L825.270547,0.915278734 C824.693241,0.339766001 823.92517,0.0227116311 823.104285,0.0227116311 C822.283856,0.0227116311 821.514874,0.339766001 820.937569,0.915278734 L800.01252,21.7927185 L779.063342,0.89211287 C778.486947,0.316600138 777.717965,0 776.897536,0 C776.077106,0 775.307669,0.316600138 774.730819,0.89211287 L772.896007,2.7235788 C771.701331,3.91457674 771.701331,5.85460427 772.896007,7.0456022 L797.838519,32.019766 C798.414914,32.5948245 799.182985,33 800.010699,33 L800.02026,33 C800.841145,33 801.609216,32.5943703 802.185611,32.019766 L827.104903,7.11328286 C827.682209,6.53822436 827.999089,5.74876807 828,4.93024088 C828,4.11125946 827.682209,3.33270475 827.104903,2.75810048 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 64%;
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    right: 0;
    top: 0; }
  .dropdown__container {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 2.7rem;
    left: 0;
    background-color: #f0f0f0;
    width: 100%;
    -webkit-box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    z-index: 1; }
    .dropdown__container > li {
      padding: 1.2rem 1.6rem;
      font-size: 1.1rem;
      color: #787878; }
      .dropdown__container > li:hover {
        background-color: #c5c5c5;
        color: #000;
        cursor: pointer; }
  .dropdown__title {
    font-size: 1.1rem;
    color: #787878;
    text-align: left; }

.dropdown:hover .dropdown__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.searcher {
  background-color: #f0f0f0;
  border: none;
  border-bottom: 0.1rem solid #787878;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 2.4rem 0 0;
  font-size: 1.6rem;
  text-indent: 4rem;
  height: 100%;
  width: 100%; }
  .searcher:focus {
    outline: 0; }
  .searcher__texthelp {
    font-size: 1.1rem;
    color: #787878;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  .searcher__icon {
    text-indent: -9000px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='17' viewBox='0 0 22 17'%3E%3Cg fill='%23ffffff'%3E%3Cpath d='M21.07 7.604H.887c-.49 0-.887.397-.887.887s.397.887.887.887H21.07c.49 0 .887-.397.887-.887s-.397-.887-.887-.887z' transform='matrix(-1 0 0 1 22 0)'/%3E%3Cpath d='M21.697 7.864L14.13.295c-.347-.346-.908-.346-1.255 0-.346.347-.346.908 0 1.255l6.942 6.941-6.942 6.942c-.346.346-.346.908 0 1.254.173.173.4.26.627.26.227 0 .455-.087.628-.26l7.568-7.569c.347-.346.347-.908 0-1.254z' transform='matrix(-1 0 0 1 22 0)'/%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-color: #000;
    background-size: 60%;
    background-position: center;
    border: none;
    border-radius: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 1.8rem;
    width: 1.8rem;
    position: absolute;
    right: 0;
    top: -0.6rem; }
    .searcher__icon:hover {
      background-color: rgba(0, 0, 0, 0.9);
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      cursor: pointer; }
  .searcher__wrapper {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 4rem 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    height: 2.4rem;
    position: relative; }

.searcher__wrapper:hover .searcher__texthelp,
.searcher:focus .searcher__texthelp {
  color: #000;
  font-weight: bold; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  height: auto; }
  .row__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 2.7rem 3.4rem;
    width: 100%; }
  .row.top {
    max-height: 32rem;
    border-top: 0.1rem solid #cdcdcd;
    border-bottom: 0.1rem solid #cdcdcd; }
  .row.bottom {
    height: calc(100vh - 32rem);
    min-height: 32rem; }
  .row__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 27rem; }
    .row__left-inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 2.7rem 3.4rem; }
    .bottom .row__left {
      border-right: 0.1rem solid #cdcdcd;
      height: 100%; }
  .row__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: calc(100% - 27rem);
    height: auto; }
    .row__right > img {
      display: block;
      margin: auto;
      max-width: 100%;
      height: 31rem; }
    .bottom .row__right {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      height: 100%; }
  .row__details {
    margin: 11.4rem 0 3.4rem 0; }
  .row__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    justify-items: flex-start;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 32rem;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .row__items {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr); } }
    @media screen and (max-width: 400px) {
      .row__items {
        grid-column-gap: 0; } }
    .row__items > li {
      border: 0.1rem solid #cdcdcd;
      border-left: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 10.6rem;
      width: 100%; }
      .row__items > li:nth-child(1), .row__items > li:nth-child(2) {
        border-top: none;
        border-bottom: none; }
      .row__items > li:nth-child(5), .row__items > li:nth-child(6) {
        border-top: none;
        border-bottom: none; }
      .row__items > li > img {
        display: block;
        margin: auto;
        max-width: 100%;
        height: 8rem; }

.text__info {
  font-size: 1rem;
  color: #787878; }

.text__title {
  margin-top: 5.2rem;
  text-transform: capitalize; }

.text__price {
  font-size: 400;
  color: #000;
  font-weight: 700; }

.button__buy {
  background-color: #000;
  border: none;
  border-radius: 3rem;
  font-size: 1.1rem;
  color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 8.4rem;
  height: 2.4rem; }
  .button__buy:hover {
    background-color: #c5c5c5;
    color: #000;
    cursor: pointer; }
  .button__buy:active, .button__buy:focus {
    outline: none; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: auto;
  list-style-type: none; }
  .social > li {
    background-color: #c5c5c5;
    border-radius: 2rem;
    background-size: 56%;
    background-position: center;
    margin: 0 0.6rem;
    width: 1.8rem;
    height: 1.8rem; }
    .social > li:first-child {
      margin-left: 0; }
    .social > li:last-child {
      margin-right: 0; }
    .social > li.fb {
      text-indent: -9000px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='14px' height='28px' viewBox='0 0 14 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Artboard' transform='translate(-28.000000, -81.000000)' fill='%23ffffff'%3E%3Cpath d='M39.4440463,85.6491667 L42,85.6491667 L42,81.1971667 C41.5590367,81.1365 40.0424965,81 38.2763103,81 C34.5911174,81 32.0666611,83.3181667 32.0666611,87.5788333 L32.0666611,91.5 L28,91.5 L28,96.477 L32.0666611,96.477 L32.0666611,109 L37.052579,109 L37.052579,96.4781667 L40.9547538,96.4781667 L41.5742021,91.5011667 L37.0514124,91.5011667 L37.0514124,88.0723333 C37.052579,86.6338333 37.43988,85.6491667 39.4440463,85.6491667 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      background-size: 40%;
      background-position: bottom center; }
    .social > li.tw {
      text-indent: -9000px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='34px' height='28px' viewBox='0 0 34 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='tw' transform='translate(-25.000000, -129.000000)' fill='%23ffffff'%3E%3Cpath d='M59,132.314769 C57.735625,132.876923 56.388375,133.249538 54.98375,133.430462 C56.42875,132.556 57.531625,131.181846 58.050125,129.525538 C56.702875,130.339692 55.215375,130.914769 53.630125,131.235692 C52.350875,129.855077 50.527625,129 48.538625,129 C44.679625,129 41.572875,132.174769 41.572875,136.066769 C41.572875,136.626769 41.619625,137.165231 41.734375,137.677846 C35.9395,137.391385 30.811875,134.576308 27.36725,130.288 C26.765875,131.345538 26.413125,132.556 26.413125,133.859077 C26.413125,136.305846 27.65625,138.474769 29.50925,139.730462 C28.389375,139.708923 27.29075,139.379385 26.36,138.860308 C26.36,138.881846 26.36,138.909846 26.36,138.937846 C26.36,142.371077 28.776125,145.222769 31.9445,145.879692 C31.377125,146.036923 30.75875,146.112308 30.117,146.112308 C29.67075,146.112308 29.22025,146.086462 28.797375,145.991692 C29.7005,148.789538 32.26325,150.846462 35.3105,150.913231 C32.939,152.793538 29.927875,153.926462 26.668125,153.926462 C26.0965,153.926462 25.54825,153.900615 25,153.829538 C28.087625,155.847692 31.746875,157 35.693,157 C48.5195,157 55.532,146.230769 55.532,136.896 C55.532,136.583692 55.521375,136.282154 55.5065,135.982769 C56.889875,134.987692 58.05225,133.744923 59,132.314769 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }
    .social > li.pt {
      text-indent: -9000px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='23px' height='28px' viewBox='0 0 23 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Artboard' transform='translate(-31.000000, -29.000000)' fill='%23ffffff'%3E%3Cpath d='M42.8851223,29 C35.1248782,29.0011667 31,33.9187363 31,39.2808121 C31,41.767014 32.4048413,44.8692245 34.6542387,45.8527384 C35.2959126,46.1385758 35.2109852,45.7897376 35.7630135,43.7013747 C35.8066568,43.5275389 35.7842453,43.3770367 35.6426996,43.2148678 C32.4272527,39.5363157 35.0151803,31.9738754 42.4262783,31.9738754 C53.1519052,31.9738754 51.1478537,46.6530831 44.2923227,46.6530831 C42.5253603,46.6530831 41.2089851,45.2810637 41.6253654,43.5835397 C42.1302118,41.5616777 43.1186728,39.388147 43.1186728,37.9309597 C43.1186728,34.2582411 37.5865942,34.8030821 37.5865942,39.6693176 C37.5865942,41.1731722 38.1244679,42.1881866 38.1244679,42.1881866 C38.1244679,42.1881866 36.3445305,49.3002872 36.0142571,50.6291394 C35.4551515,52.8785045 36.0897482,56.5197227 36.1451869,56.8335605 C36.1793938,57.0062296 36.3751987,57.0610637 36.4848967,56.9187283 C36.6606493,56.6912251 38.8121442,53.6555155 39.4148931,51.4609845 C39.6342889,50.6618065 40.5342838,47.4184273 40.5342838,47.4184273 C41.1275963,48.4777756 42.8379404,49.3644548 44.6603416,49.3644548 C50.0815426,49.3644548 54,44.6510548 54,38.802472 C53.9811272,33.1953927 49.1296477,29 42.8851223,29 Z' id='Path'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); }
    .social > li:hover {
      background-color: #000;
      cursor: pointer; }

.sidebar {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0;
  width: 31rem;
  min-width: 31rem;
  height: 100vh;
  min-height: 64rem; }
  @media screen and (max-width: 768px) {
    .sidebar {
      display: none; } }
  .sidebar__inner {
    border-right: 0.1rem solid #c5c5c5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3.4rem;
    width: 27.2rem;
    height: 100vh; }
  .sidebar__title {
    font-size: 2.1rem;
    text-align: left;
    margin: 13.8rem 0 2.4rem 0; }
  .sidebar__text {
    font-size: 1.1rem;
    color: #787878; }
  .sidebar__icon {
    background-color: #ffffff;
    border-radius: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1.8rem;
    width: 1.8rem;
    position: relative;
    overflow: hidden; }
    .sidebar__icon:before {
      content: '';
      background-color: #ef5050;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 0.6rem;
      position: absolute;
      top: 0.6rem;
      left: auto; }
    .sidebar__icon:after {
      content: '';
      background-color: #6c97f5;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 0.6rem;
      position: absolute;
      bottom: 0;
      left: auto; }
  .sidebar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none; }
    .sidebar__menu > li {
      color: #000;
      display: block;
      margin: 1.2rem 0; }
      .sidebar__menu > li > a {
        color: inherit;
        text-decoration: none; }
        .sidebar__menu > li > a:hover {
          color: #787878; }
        .sidebar__menu > li > a.active {
          color: #787878; }
  .sidebar__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
